/* All */


* {
    font-family: 'Lora', serif;
    margin: 0;
    padding: 0;
}

/* Body */

body {
    background-color: #faebd7;
    overflow-x: hidden;
    display: block;
}

/* Header */

header {
    font-size: 30px;
    height: 80px;
    width: 100vw;
    background-color: rgb(106, 0, 48);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
}

.mobile-menu{
    display: none;
}

header img {
    width: auto;
    height: 45px;
    margin-right: 300px;
    margin-left: 560px;
}

.topnav input[type=text] {
    padding: 10px;
    border: 4px solid rgb(219, 190, 190);
    font-size: 17px;
    border-radius: 30px;
    width: 75%;
}


/* Sidebar */

#sidebar {
    position: fixed;
    width: 200px;
    height: 100%;
    background: rgb(134, 22, 80);
    left: -200px;
    transition: 0.5s;
    z-index: 3;
}

#sidebar.active {
    left: 0;
}

#sidebar a {
    list-style: none;
    color: #ffffff;
    font-size: 20px;
    margin: 10px 0;
    padding: 10px 20px;
    text-decoration: none;
    display: block;
    position: relative;
    overflow: hidden;
}

#sidebar a::before {
    content: '';
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background-color: rgb(189, 130, 53);
    transition: left 0.3s ease;
    z-index: -1;
}

#sidebar a:hover::before {
    left: 0;
}

#sidebar .toggle-btn {
    position: absolute;
    top: 20px;
    left: 220px;
}

.toggle-btn span {
    width: 30px;
    height: 4px;
    background: #ffffff;
    display: block;
    margin-top: 5px;
    box-shadow: 1.5px 1.5px rgb(61, 61, 61);
}


/* Hero 1 */

.hero-container {
    width: 100vw;
    height: 400px;
    display: flex;
    justify-content: center;
    background-color: aliceblue;
}

/* Heroshowcase 1 Grid */

.mobile-banner{
    display: none;
}

.hero-showcase-mobile {
    display: none;
}

.hero-showcase-grid {
    display: grid;
    padding: 20px;
    align-items: end;
}

.hero1-griditem1 h1 {
    transform: translate(0px, 20px);
    width: auto;
    text-decoration: none;
    color: black;
}

.hero1-griditem1 a {
    text-decoration: none;
}

.hero1-griditem1 h1:hover {
    text-decoration: underline;
    color: black;
}

.hero1-griditem2 {
    transform: translate(0px, -45px);
}

.hero1-griditem3 {
    transform: translate(0px, -100px);
    overflow: auto;
    text-decoration: none;
}

.hero1-griditem3 a {
    text-decoration: none;
    color: black;
}

.hero1-griditem3 a:hover {
    text-decoration: underline;
    color: black;
}

.banner {
    width: 80px;
    height: 400px;
    display: block;
    background-color: rgb(182, 129, 160);
    writing-mode: vertical-lr;
    text-align: center;
    color: white;
}

.banner h3 {
    margin-top: 10px;
    padding: 15px;
}

.banner h3:hover {
    text-decoration: underline;
    color: white;
}

/* This is the "The Latest" header */

.thelatest-container {
    display: block;
    width: 100vw;
}

.thelatest-container img {
    margin-top: -10px;
    height: 30px;
}

.thelatest {
    padding: 15px;
    margin-top: 20px;
    background-color: rgb(255, 163, 187);
    width: 30vw;
    box-shadow: 7px 7px rgb(246, 189, 32);
}


/* This is the box that contains the food items in grid */
.thelatest-container-grid { 
    height: 600px;
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}

/* These are the individual grid items of food, all lumped into one styling group to maintain consistency */

.thelatest-item {
    padding: 10px;
    background-color: #8a1751;
    color: rgb(255, 255, 255);
    margin-top: 10px;
    height: 350px;
    box-shadow: 4px 4px rgb(61, 61, 61);
    overflow: hidden;
}

.thelatest-item a {
    text-decoration: none;
    color: #ffffff;
}

.thelatest-item a h1:hover {
    text-decoration: underline;
    color: rgb(255, 255, 255);
}


.thelatest-item h1 {
    background-color: rgba(145, 0, 89, 0.6);
    padding: 10px;
    font-size: 25px;
}

.thelatest-item:hover {
    transform: scale(1.045);
    transition: ease-in 0.15s;
}


/* These are the individual food boxes with images added to each for styling */

#recipe1-griditem1 {
    background: url(images/Dish1.jpg);
    background-size: 400px 400px;
    background-repeat: no-repeat;
    background-size: cover;
}

#recipe1-griditem2 {
    background: url(images/Dish2.jpg);
    background-size: 400px 400px;
    background-repeat: no-repeat;
    background-size: cover;
}

#recipe1-griditem3 {
    background: url(images/Dish3.jpg);
    background-size: 400px 400px;
    background-repeat: no-repeat;
    background-size: cover;
}

#recipe1-griditem4 {
    background: url(images/Dish4.jpg);
    background-size: 400px 400px;
    background-repeat: no-repeat;
    background-size: cover;
}

#recipe1-griditem5 {
    background: url(images/Dish6.jpg);
    background-size: 400px 400px;
    background-repeat: no-repeat;
    background-size: cover;
}

#recipe1-griditem6 {
    background: url(images/Dish7.jpg);
    background-size: 400px 400px;
    background-repeat: no-repeat;
    background-size: cover;
}

/* Footer */

footer {
    display: block;
    margin-top: 190px;
    height: 180px;
    background-color: rgb(106, 0, 48);
    border: 1px solid black;
    border-left: 0cap;
    border-right: 0cap;
    border-bottom: 0cap;
    align-items: start;
}

footer img {
    height: 18%;
    padding: 20px;
}

footer p {
    padding: 20px;
    margin-top: -40px;
    size: 15px;
    color: white;
}

.bottomemail {
    padding: 10px;
    margin-top: -20px;
    margin-left: 7px;
}

.bottomemail input[type=text] {
    padding: 10px;
    border: 4px solid rgb(219, 190, 190);
    font-size: 15px;
    width: 45%;
}

.link-container {
    display: flex;
    column-gap: 10px;
    margin-left: 20px;
}

.link-container a {
    text-decoration: none;
    color: white;
    font-size: 15px;
}

.link-container h4:hover {
    text-decoration: underline;
    color: white;
}

/* Guides */

:root {
    --griditem_bgc: rgb(237, 237, 229);
    --griditem_border: 1px solid black;
    --griditem_bgshadow: 4px 4px rgb(61, 61, 61);
}

.guides-grid-container {
    height: 650px;
    padding: 15px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
}

.guides-item {
    border: var(--griditem_border);
    background-color: var(--griditem_bgc);
    box-shadow: var(--griditem_bgshadow);
    height: 400px;
}

.guides-griditem-header {
    display: grid;
    width: 100%;
}

.guides-griditem-header h1 { 
    background-color: rgb(250, 254, 255);
    padding: 20px;
    font-size: 32px;
    border-bottom: 1px solid black;
}


.guides-griditem-header h1:hover {
    text-decoration: underline;
}

.guides-griditem-description {
    padding: 15px;
    font-size: 25px;
    width: 500px;
}

.guides-griditem-description p {
    background-color: rgba(145, 0, 89, 0.7);
    color: #fff;
    padding: 10px;
}

#guides1-griditem1 {
    background-image: url(images/knife.jpg);
    background-size: 400px 400px;
    background-repeat: no-repeat;
    background-size: cover;
}

#guides1-griditem2 {
    background-image: url(images/produce.jpg);
    background-size: 400px 400px;
    background-repeat: no-repeat;
    background-size: cover;
}

#guides1-griditem3 {
    background-image: url(images/meat.jpg);
    background-size: 400px 400px;
    background-repeat: no-repeat;
    background-size: cover;
}

#guides1-griditem4 {
    background-image: url(images/salt.jpg);
    background-size: 400px 400px;
    background-repeat: no-repeat;
    background-size: cover;
}

/* Recipes */

.recipes-container-grid { 
    height: 1400px;
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}


#recipes-griditem1 {
    background: url(images/cake.jpg);
    background-size: 400px 400px;
    background-repeat: no-repeat;
    background-size: cover;
}

#recipes-griditem2 {
    background: url(images/burger.jpg);
    background-size: 400px 400px;
    background-repeat: no-repeat;
    background-size: cover;
}

#recipes-griditem3 {
    background: url(images/pizza.jpg);
    background-size: 400px 400px;
    background-repeat: no-repeat;
    background-size: cover;
}

#recipes-griditem4 {
    background: url(images/salad2.jpg);
    background-size: 400px 400px;
    background-repeat: no-repeat;
    background-size: cover;
}

#recipes-griditem5 {
    background: url(images/spritz.jpg);
    background-size: 400px 400px;
    background-repeat: no-repeat;
    background-size: cover;
}

#recipes-griditem6 {
    background: url(images/salmonrice.jpg);
    background-size: 400px 400px;
    background-repeat: no-repeat;
    background-size: cover;
}

#recipes-griditem7 {
    background: url(images/Dish7.jpg);
    background-size: 400px 400px;
    background-repeat: no-repeat;
    background-size: cover;
}

#recipes-griditem8 {
    background: url(images/Dish2.jpg);
    background-size: 400px 400px;
    background-repeat: no-repeat;
    background-size: cover;
}

#recipes-griditem9 {
    background: url(images/Dish3.jpg);
    background-size: 400px 400px;
    background-repeat: no-repeat;
    background-size: cover;
}

#recipes-griditem10 {
    background: url(images/Dish4.jpg);
    background-size: 400px 400px;
    background-repeat: no-repeat;
    background-size: cover;
}

#recipes-griditem11 {
    background: url(images/Dish5.jpg);
    background-size: 400px 400px;
    background-repeat: no-repeat;
    background-size: cover;
}

#recipes-griditem12 {
    background: url(images/Dish6.jpg);
    background-size: 400px 400px;
    background-repeat: no-repeat;
    background-size: cover;
}

.recipes-item {
    padding: 10px;
    background-color: #8a1751;
    color: rgb(255, 255, 255);
    margin-top: 10px;
    height: 350px;
    box-shadow: 4px 4px rgb(61, 61, 61);
    overflow: hidden;
}

.recipes-item a {
    text-decoration: none;
    color: #ffffff;
}

.recipes-item a h1:hover {
    text-decoration: underline;
    color: rgb(255, 255, 255);
}

.recipes-item h1 {
    background-color: rgba(145, 0, 89, 0.6);
    padding: 10px;
    font-size: 25px;
}

.recipes-item:hover {
    transform: scale(1.02);
    transition: ease-in 0.15s;
}

/* Ingredients Page */

.ingredients-list {
    width: 90vw;
    height: 750px;
}

.ingredients-list h1 {
    display: inline-block;
    margin: 10px 15px;
    padding: 10px;
    border: 1px solid black;
    background-color: #8a1751;
    color: white;

}

.ingredients-list li {
    border: 1px solid rgb(0, 0, 0);
    background-color: #ffffff;
    padding: 20px;
    margin: 5px;
    list-style-type: none;
    font-size: 30px;
    display: inline-block;
    cursor: pointer;
}

.ingredients-list li {
    transition: background-color 0.5s ease, color 0.5s ease, text-decoration 0.5s ease;
    color: rgb(0, 0, 0);
}

.ingredients-list li {
    background: linear-gradient(90deg, rgba(173,0,81,1) 12%, rgba(96,0,255,1) 80%) left / var(--p,0) no-repeat;
    transition: .4s,background-position 0s;
    color: black;
    background-color: white;
}

.ingredients-list li:hover {
    color: white;
    --p: 100%;
    background-position: right;
}

.ingredients-list ul {
    margin: 10px
}

/* In Season */

:root {
    --season-font-color: white;
}

.inseason-flex-container {
    display: flex;
    height: 400px;
    flex-direction: row;
}

.inseason-box {
    width: 25%;
    height: 600px;
    width: 50px;
    position: relative;
    z-index: 1;
}

.inseason-box a {
    text-decoration: none;
    color: white;
}

.inseason-box h1 {
    text-align: center;
    padding: 20px;
    position: absolute; 
    top: 50%; 
    left: 50%;
    transform: translate(-50%, -50%);
}

.inseason-box h1:hover{
    text-decoration: underline;
}

.inseason-box:hover{
    transform: scale(1.03);
    transition: 0.5s ease;
    z-index: 2; 
}
/* Gradient Animations courtesy of https://www.gradient-animator.com/ */

#spring-box {
    width: 25%;
    background: rgb(173,0,81);
    background: radial-gradient(circle, rgb(2, 96, 5) 33%, rgb(80, 183, 49) 100%); 
    color: var(--season-font-color);
}

#spring-box {
    background: linear-gradient(270deg, #246655, #59964d);
    background-size: 400% 400%;

    -webkit-animation: AnimationName 11s ease infinite;
    -moz-animation: AnimationName 11s ease infinite;
    animation: AnimationName 11s ease infinite;
}

@-webkit-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-moz-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}

#summer-box {
    width: 25%;
    background: rgb(173,0,81);
    background: radial-gradient(circle, rgba(173,0,81,1) 33%, rgba(255,203,0,1) 100%);     color: var(--season-font-color);
}

#summer-box {
    background: linear-gradient(270deg, #d6750d, #a29b00, #cd3c00);
    background-size: 600% 600%;

    -webkit-animation: AnimationName 11s ease infinite;
    -moz-animation: AnimationName 11s ease infinite;
    animation: AnimationName 11s ease infinite;
}

@-webkit-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-moz-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}

#fall-box {
    width: 25%;
    background: rgb(173,0,81);
    background: radial-gradient(circle, rgb(139, 51, 0) 33%, rgb(164, 137, 31) 100%);     color: var(--season-font-color);
}

#fall-box {
    background: linear-gradient(270deg, #7c4101, #630c00);
    background-size: 600% 600%;

    -webkit-animation: AnimationName 11s ease infinite;
    -moz-animation: AnimationName 11s ease infinite;
    animation: AnimationName 11s ease infinite;
}

@-webkit-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-moz-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}

#winter-box {
    width: 25%;
    background: rgb(173,0,81);
    background: radial-gradient(circle, rgb(2, 58, 202) 33%, rgb(0, 204, 255) 100%); 
    color: var(--season-font-color);
}

#winter-box {
    background: linear-gradient(270deg, #2d3e8a, #10859d, #5050bb);
    background-size: 600% 600%;

    -webkit-animation: AnimationName 11s ease infinite;
    -moz-animation: AnimationName 11s ease infinite;
    animation: AnimationName 11s ease infinite;
}

@-webkit-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-moz-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}

/* Spring */

#sp-button {
    font-size: 35px;
    color: white;
    background-color: transparent;
    border: none;
}

#sp-button:hover {
    text-decoration: underline;
}


.sp-ingredients-list {
    width: 90vw;
    height: 290px;
}

.sp-ingredients-list h1 {
    display: inline-block;
    margin: 10px 15px;
    padding: 10px;
    border: 1px solid black;
    background-color: #32b334;
    color: white;
}

.sp-ingredients-list h1 {
    background: linear-gradient(270deg, #246655, #28b60c);
    background-size: 400% 400%;

    -webkit-animation: AnimationName 11s ease infinite;
    -moz-animation: AnimationName 11s ease infinite;
    animation: AnimationName 11s ease infinite;
}

@-webkit-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-moz-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}

.sp-ingredients-list li {
    border: 1px solid rgb(0, 0, 0);
    background-color: #ffffff;
    padding: 20px;
    margin: 5px;
    list-style-type: none;
    font-size: 30px;
    display: inline-block;
}

.sp-ingredients-list li {
    transition: background-color 0.5s ease, color 0.5s ease, text-decoration 0.5s ease;
    color: rgb(0, 0, 0);
}

.sp-ingredients-list li:hover {
    background: radial-gradient(circle, rgb(10, 135, 33) 33%, rgb(35, 225, 2) 100%);
    color: #fff; 
    text-decoration: none; 
    text-decoration: underline;

}

.sp-ingredients-list ul {
    margin: 10px
}

.sp-recipes-container-grid { 
    height: 1000px;
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}


#sp-recipes-griditem1 {
    background: url(images/dish8.jpg);
    background-size: 400px 400px;
    background-repeat: no-repeat;
    background-size: cover;
}

#sp-recipes-griditem2 {
    background: url(images/dish9.jpg);
    background-size: 400px 400px;
    background-repeat: no-repeat;
    background-size: cover;
}

#sp-recipes-griditem3 {
    background: url(images/dish10.jpg);
    background-size: 400px 400px;
    background-repeat: no-repeat;
    background-size: cover;
}

#sp-recipes-griditem4 {
    background: rgb(29, 135, 22);
    background-size: 400px 400px;
    background-repeat: no-repeat;
    background-size: cover;
}

#sp-recipes-griditem4 h1 {
    background: rgb(8, 67, 2);
}

#sp-recipes-griditem5 {
    background: url(images/dish11.jpg);
    background-size: 400px 400px;
    background-repeat: no-repeat;
    background-size: cover;
}

#sp-recipes-griditem6 {
    background: rgb(29, 135, 22);
    background-size: 400px 400px;
    background-repeat: no-repeat;
    background-size: cover;
}

#sp-recipes-griditem6 h1 {
    background: rgb(8, 67, 2);
}

#sp-recipes-griditem7 {
    background: url(images/dish12.jpg);
    background-size: 400px 400px;
    background-repeat: no-repeat;
    background-size: cover;
}

#sp-recipes-griditem8 {
    background: url(images/dish13.jpg);
    background-size: 400px 400px;
    background-repeat: no-repeat;
    background-size: cover;
}

#sp-recipes-griditem9 {
    background: url(images/dish14.jpg);
    background-size: 400px 400px;
    background-repeat: no-repeat;
    background-size: cover;
}

#sp-recipes-griditem10 {
    background: url(images/dish15.jpg);
    background-size: 400px 400px;
    background-repeat: no-repeat;
    background-size: cover;
}

#sp-recipes-griditem11 {
    background: url(images/dish16.jpg);
    background-size: 400px 400px;
    background-repeat: no-repeat;
    background-size: cover;
}

#sp-recipes-griditem12 {
    background: url(images/dish17.jpg);
    background-size: 400px 400px;
    background-repeat: no-repeat;
    background-size: cover;
}

.sp-recipes-item {
    padding: 10px;
    background-color: #32b334;
    color: rgb(255, 255, 255);
    margin-top: 10px;
    height: 350px;
    box-shadow: 4px 4px rgb(61, 61, 61);
    overflow: hidden;
}

.sp-recipes-item p {
    margin: 8px;
    font-size: 20px;
}

.sp-recipes-item:hover {
    transform: scale(1.045);
    transition: ease-in 0.15s;
}

.sp-recipes-item a {
    text-decoration: none;
    color: #ffffff;
}

.sp-recipes-item a h1:hover {
    text-decoration: underline;
    color: rgb(255, 255, 255);
}

.sp-recipes-item h1 {
    background-color: rgb(50, 179, 52, 0.6);
    padding: 10px;
    font-size: 25px;
}

/* Summer Site */

#sum-button {
    font-size: 35px;
    color: white;
    background-color: transparent;
    border: none;
}

#sum-button:hover {
    text-decoration: underline;
}


.sum-ingredients-list {
    width: 90vw;
    height: 290px;
}

.sum-ingredients-list h1 {
    display: inline-block;
    margin: 10px 15px;
    padding: 10px;
    border: 1px solid black;
    background-color: #32b334;
    color: white;
}

.sum-ingredients-list h1 {
    background: linear-gradient(270deg, #a80101, #dcad00);
    background-size: 400% 400%;

    -webkit-animation: AnimationName 11s ease infinite;
    -moz-animation: AnimationName 11s ease infinite;
    animation: AnimationName 11s ease infinite;
}

@-webkit-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-moz-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}

.sum-ingredients-list li {
    border: 1px solid rgb(0, 0, 0);
    background-color: #ffffff;
    padding: 20px;
    margin: 5px;
    list-style-type: none;
    font-size: 30px;
    display: inline-block;
}

.sum-ingredients-list li {
    transition: background-color 0.5s ease, color 0.5s ease, text-decoration 0.5s ease;
    color: rgb(0, 0, 0);
}

.sum-ingredients-list li:hover {
    background: radial-gradient(circle, rgb(207, 12, 2) 33%, rgb(210, 119, 0) 100%);
    color: #fff; 
    text-decoration: none; 
    text-decoration: underline;

}

.sum-ingredients-list ul {
    margin: 10px
}

.sum-recipes-container-grid { 
    height: 1000px;
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}


#sum-recipes-griditem1 {
    background: url(images/dish18.jpg);
    background-size: 400px 400px;
    background-repeat: no-repeat;
    background-size: cover;
}

#sum-recipes-griditem2 {
    background: url(images/dish19.jpg);
    background-size: 400px 400px;
    background-repeat: no-repeat;
    background-size: cover;
}

#sum-recipes-griditem3 {
    background: url(images/dish20.jpg);
    background-size: 400px 400px;
    background-repeat: no-repeat;
    background-size: cover;
}

#sum-recipes-griditem4 {
    background: rgb(127, 1, 1);
    background-size: 400px 400px;
    background-repeat: no-repeat;
    background-size: cover;
}

#sum-recipes-griditem4 h1 {
    background: rgba(216, 0, 0, 0.707);
}

#sum-recipes-griditem5 {
    background: url(images/dish21.jpg);
    background-size: 400px 400px;
    background-repeat: no-repeat;
    background-size: cover;
}

#sum-recipes-griditem6 {
    background: rgb(127, 1, 1);
    background-size: 400px 400px;
    background-repeat: no-repeat;
    background-size: cover;
}

#sum-recipes-griditem6 h1 {
    background: rgba(216, 0, 0, 0.707);
}

#sum-recipes-griditem7 {
    background: url(images/dish22.jpg);
    background-size: 400px 400px;
    background-repeat: no-repeat;
    background-size: cover;
}

#sum-recipes-griditem8 {
    background: url(images/dish23.jpg);
    background-size: 400px 400px;
    background-repeat: no-repeat;
    background-size: cover;
}

#sum-recipes-griditem9 {
    background: url(images/dish24.jpg);
    background-size: 400px 400px;
    background-repeat: no-repeat;
    background-size: cover;
}

#sum-recipes-griditem10 {
    background: url(images/dish25.jpg);
    background-size: 400px 400px;
    background-repeat: no-repeat;
    background-size: cover;
}

#sum-recipes-griditem11 {
    background: url(images/dish26.jpg);
    background-size: 400px 400px;
    background-repeat: no-repeat;
    background-size: cover;
}

#sum-recipes-griditem12 {
    background: url(images/dish27.jpg);
    background-size: 400px 400px;
    background-repeat: no-repeat;
    background-size: cover;
}

.sum-recipes-item {
    padding: 10px;
    background-color: #980202;
    color: rgb(255, 255, 255);
    margin-top: 10px;
    height: 350px;
    box-shadow: 4px 4px rgb(61, 61, 61);
    overflow: hidden;
}

.sum-recipes-item p {
    margin: 8px;
    font-size: 20px;
}

.sum-recipes-item:hover {
    transform: scale(1.045);
    transition: ease-in 0.15s;
}

.sum-recipes-item a {
    text-decoration: none;
    color: #ffffff;
}

.sum-recipes-item a h1:hover {
    text-decoration: underline;
    color: rgb(255, 255, 255);
}

.sum-recipes-item h1 {
    background-color: rgba(216, 0, 0, 0.707);
    padding: 10px;
    font-size: 25px;
}

/* Fall Site */


#fall-button {
    font-size: 35px;
    color: white;
    background-color: transparent;
    border: none;
}

#fall-button:hover {
    text-decoration: underline;
}


.fall-ingredients-list {
    width: 90vw;
    height: 290px;
}

.fall-ingredients-list h1 {
    display: inline-block;
    margin: 10px 15px;
    padding: 10px;
    border: 1px solid black;
    background-color: #32b334;
    color: white;
}

.fall-ingredients-list h1 {
    background: linear-gradient(270deg, #a95912, #dcad00);
    background-size: 400% 400%;

    -webkit-animation: AnimationName 11s ease infinite;
    -moz-animation: AnimationName 11s ease infinite;
    animation: AnimationName 11s ease infinite;
}

@-webkit-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-moz-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}

.fall-ingredients-list li {
    border: 1px solid rgb(0, 0, 0);
    background-color: #ffffff;
    padding: 20px;
    margin: 5px;
    list-style-type: none;
    font-size: 30px;
    display: inline-block;
}

.fall-ingredients-list li {
    transition: background-color 0.5s ease, color 0.5s ease, text-decoration 0.5s ease;
    color: rgb(0, 0, 0);
}

.fall-ingredients-list li:hover {
    background: radial-gradient(circle, rgb(155, 75, 0) 33%, rgb(196, 127, 38) 100%);
    color: #fff; 
    text-decoration: none; 
    text-decoration: underline;

}

.fall-ingredients-list ul {
    margin: 10px
}

.fall-recipes-container-grid { 
    height: 1000px;
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}


#fall-recipes-griditem1 {
    background: url(images/dish28.jpg);
    background-size: 400px 400px;
    background-repeat: no-repeat;
    background-size: cover;
}

#fall-recipes-griditem2 {
    background: url(images/dish29.jpg);
    background-size: 400px 400px;
    background-repeat: no-repeat;
    background-size: cover;
}

#fall-recipes-griditem3 {
    background: url(images/dish30.jpg);
    background-size: 400px 400px;
    background-repeat: no-repeat;
    background-size: cover;
}

#fall-recipes-griditem4 {
    background: #6e3b01;
    background-size: 400px 400px;
    background-repeat: no-repeat;
    background-size: cover;
}

#fall-recipes-griditem4 h1 {
    background: rgba(199, 106, 0, 0.707);
}

#fall-recipes-griditem5 {
    background: url(images/dish31.jpg);
    background-size: 400px 400px;
    background-repeat: no-repeat;
    background-size: cover;
}

#fall-recipes-griditem6 {
    background: #6e3b01;
    background-size: 400px 400px;
    background-repeat: no-repeat;
    background-size: cover;
}

#fall-recipes-griditem6 h1 {
    background: rgba(199, 106, 0, 0.707);
}

#fall-recipes-griditem7 {
    background: url(images/dish32.jpg);
    background-size: 400px 400px;
    background-repeat: no-repeat;
    background-size: cover;
}

#fall-recipes-griditem8 {
    background: url(images/dish33.jpg);
    background-size: 400px 400px;
    background-repeat: no-repeat;
    background-size: cover;
}

#fall-recipes-griditem9 {
    background: url(images/dish34.jpg);
    background-size: 400px 400px;
    background-repeat: no-repeat;
    background-size: cover;
}

#fall-recipes-griditem10 {
    background: url(images/dish35.jpg);
    background-size: 400px 400px;
    background-repeat: no-repeat;
    background-size: cover;
}

#fall-recipes-griditem11 {
    background: url(images/dish36.jpg);
    background-size: 400px 400px;
    background-repeat: no-repeat;
    background-size: cover;
}

#fall-recipes-griditem12 {
    background: url(images/dish37.jpg);
    background-size: 400px 400px;
    background-repeat: no-repeat;
    background-size: cover;
}

.fall-recipes-item {
    padding: 10px;
    background-color: #6e3b01;
    color: rgb(255, 255, 255);
    margin-top: 10px;
    height: 350px;
    box-shadow: 4px 4px rgb(61, 61, 61);
    overflow: hidden;
}

.fall-recipes-item p {
    margin: 8px;
    font-size: 20px;
}

.fall-recipes-item:hover {
    transform: scale(1.045);
    transition: ease-in 0.15s;
}

.fall-recipes-item a {
    text-decoration: none;
    color: #ffffff;
}

.fall-recipes-item a h1:hover {
    text-decoration: underline;
    color: rgb(255, 255, 255);
}

.fall-recipes-item h1 {
    background-color: rgba(199, 106, 0, 0.707);
    padding: 10px;
    font-size: 25px;
}

/* Winter Site */

#win-button {
    font-size: 35px;
    color: white;
    background-color: transparent;
    border: none;
}

#win-button:hover {
    text-decoration: underline;
}


.win-ingredients-list {
    width: 90vw;
    height: 290px;
}

.win-ingredients-list h1 {
    display: inline-block;
    margin: 10px 15px;
    padding: 10px;
    border: 1px solid black;
    background-color: #32b334;
    color: white;
}

.win-ingredients-list h1 {
    background: linear-gradient(270deg, #025b6d, #2ad5e1);
    background-size: 400% 400%;

    -webkit-animation: AnimationName 11s ease infinite;
    -moz-animation: AnimationName 11s ease infinite;
    animation: AnimationName 11s ease infinite;
}

@-webkit-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-moz-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}

.win-ingredients-list li {
    border: 1px solid rgb(0, 0, 0);
    background-color: #ffffff;
    padding: 20px;
    margin: 5px;
    list-style-type: none;
    font-size: 30px;
    display: inline-block;
}

.win-ingredients-list li {
    transition: background-color 0.5s ease, color 0.5s ease, text-decoration 0.5s ease;
    color: rgb(0, 0, 0);
}

.win-ingredients-list li:hover {
    background: radial-gradient(circle, rgb(2, 146, 207) 33%, rgb(59, 138, 255) 100%);
    color: #fff; 
    text-decoration: none; 
    text-decoration: underline;

}

.win-ingredients-list ul {
    margin: 10px
}

.win-recipes-container-grid { 
    height: 1000px;
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}


#win-recipes-griditem1 {
    background: url(images/dish38.jpg);
    background-size: 400px 400px;
    background-repeat: no-repeat;
    background-size: cover;
}

#win-recipes-griditem2 {
    background: url(images/dish39.jpg);
    background-size: 400px 400px;
    background-repeat: no-repeat;
    background-size: cover;
}

#win-recipes-griditem3 {
    background: url(images/dish40.jpg);
    background-size: 400px 400px;
    background-repeat: no-repeat;
    background-size: cover;
}

#win-recipes-griditem4 {
    background: rgb(1, 75, 124);
    background-size: 400px 400px;
    background-repeat: no-repeat;
    background-size: cover;
}

#win-recipes-griditem4 h1 {
    background: rgba(0, 158, 216, 0.707);
}

#win-recipes-griditem5 {
    background: url(images/dish41.jpg);
    background-size: 400px 400px;
    background-repeat: no-repeat;
    background-size: cover;
}

#win-recipes-griditem6 {
    background: rgb(1, 75, 124);
    background-size: 400px 400px;
    background-repeat: no-repeat;
    background-size: cover;
}

#win-recipes-griditem6 h1 {
    background: rgba(0, 158, 216, 0.707);
}

#win-recipes-griditem7 {
    background: url(images/dish42.jpg);
    background-size: 400px 400px;
    background-repeat: no-repeat;
    background-size: cover;
}

#win-recipes-griditem8 {
    background: url(images/dish43.jpg);
    background-size: 400px 400px;
    background-repeat: no-repeat;
    background-size: cover;
}

#win-recipes-griditem9 {
    background: url(images/dish44.jpg);
    background-size: 400px 400px;
    background-repeat: no-repeat;
    background-size: cover;
}

#win-recipes-griditem10 {
    background: url(images/dish45.jpg);
    background-size: 400px 400px;
    background-repeat: no-repeat;
    background-size: cover;
}

#win-recipes-griditem11 {
    background: url(images/dish46.jpg);
    background-size: 400px 400px;
    background-repeat: no-repeat;
    background-size: cover;
}

#win-recipes-griditem12 {
    background: url(images/dish47.jpg);
    background-size: 400px 400px;
    background-repeat: no-repeat;
    background-size: cover;
}

.win-recipes-item {
    padding: 10px;
    background-color: #027298;
    color: rgb(255, 255, 255);
    margin-top: 10px;
    height: 350px;
    box-shadow: 4px 4px rgb(61, 61, 61);
    overflow: hidden;
}

.win-recipes-item p {
    margin: 8px;
    font-size: 20px;
}

.win-recipes-item:hover {
    transform: scale(1.045);
    transition: ease-in 0.15s;
}

.win-recipes-item a {
    text-decoration: none;
    color: #ffffff;
}

.win-recipes-item a h1:hover {
    text-decoration: underline;
    color: rgb(255, 255, 255);
}

.win-recipes-item h1 {
    background-color: rgba(0, 158, 216, 0.707);
    padding: 10px;
    font-size: 25px;
}

/* Error Site */

.error-box {
    display: flex;
    position: block;
    flex-direction: column;
    width: 100vw;
    height: 115px;
    margin-top: 180px;
    padding: 20px;
    text-align: center;
}

.error-box h1 {
    font-size: 60px;
}

.error-box p {
    font-size: 30px;
}

/* Recipe Demo */

.recipe-info-ingredients {
    display: block;
    padding: 20px;
    background-color: white;
    margin: 20px;
    border: 1px solid black;
}

.recipe-info-ingredients li {
    padding: 10px;
    font-size: 19px;
}

.recipe-info-ingredients ul {
    margin-left: 20px;
}

.recipe-info-steps {
    display: block;
    padding: 20px;
    background-color: white;
    margin: 20px;
    border: 1px solid black; 
}

.recipe-info-steps p {
    font-size: 19px;
    padding: 10px;
}


@media screen and (max-width: 992px){
    .topnav{
        display: none;
    }

    #sidebar {
        display: none;
    }

    .toggle-btn{
        display: none;
    }

    #span1{
        display: none;
    }

    header {
        justify-content: center;
    }
    
    header img {
        margin: 0 auto;
        display: block;
        max-width: 100%;
    }

    .mobile-menu {
        display: flex;
        justify-content: center;
        background: rgb(79, 0, 36);
    }

    .mobile-menu a{
        text-decoration: none;
        color: white;
    }

    .mobile-menu ul{
        list-style: none;
        text-align: center;
    }

    .mobile-menu li{
        border: 0.5px solid white;
        padding: 10px;
        width: 100vw;
    }

    .hero-container {
        display: none;
    }

    .hero-showcase-grid{
        display: none;
    }

    .hero-showcase-mobile{
        display: grid;
        background-color: rgb(110, 1, 72);
    }

    .hero-showcase-mobile h1{
        padding: 10px;
        margin-top: 20px;
    }

    .hero-showcase-mobile p{
        padding: 30px;
    }

    .hero-showcase-mobile img{
        width: 100vw;
    }

    .hero-showcase-mobile a{
        text-decoration: none;
        color: rgb(255, 255, 255);
        text-align: center;
    }

    .thelatest-container-grid { 
        height: 600px;
        padding: 10px;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 30px;
    }

    footer{
        display: block;
        margin-top: 210px;
    }    
}

@media screen and (max-width: 768px){
    .topnav{
        display: none;
    }

    #sidebar {
        display: none;
    }

    .toggle-btn{
        display: none;
    }

    #span1{
        display: none;
    }

    header {
        justify-content: center;
    }
    
    header img {
        margin: 0 auto;
        display: block;
        max-width: 100%;
    }

    .mobile-menu {
        display: flex;
        justify-content: center;
        background: rgb(79, 0, 36);
    }

    .mobile-menu a{
        text-decoration: none;
        color: white;
    }

    .mobile-menu ul{
        list-style: none;
        text-align: center;
    }

    .mobile-menu li{
        border: 0.5px solid white;
        padding: 10px;
        width: 100vw;
    }

    .hero-container {
        display: none;
    }

    .hero-showcase-grid{
        display: none;
    }

    .hero-showcase-mobile{
        display: grid;
        background-color: rgb(110, 1, 72);
    }

    .hero-showcase-mobile h1{
        padding: 10px;
        margin-top: 20px;
    }

    .hero-showcase-mobile p{
        padding: 30px;
    }

    .hero-showcase-mobile img{
        width: 100vw;
    }

    .hero-showcase-mobile a{
        text-decoration: none;
        color: rgb(255, 255, 255);
        text-align: center;
    }

    .thelatest-container-grid { 
        height: 600px;
        padding: 10px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 30px;
    }

    footer{
        display: block;
        margin-top: 620px;
    }    
}

@media screen and (max-width: 576px){
    .topnav{
        display: none;
    }

    #sidebar {
        display: none;
    }

    .toggle-btn{
        display: none;
    }

    #span1{
        display: none;
    }

    header {
        justify-content: center;
    }
    
    header img {
        margin: 0 auto;
        display: block;
        max-width: 100%;
    }

    .mobile-menu {
        display: flex;
        justify-content: center;
        background: rgb(79, 0, 36);
    }

    .mobile-menu a{
        text-decoration: none;
        color: white;
    }

    .mobile-menu ul{
        list-style: none;
        text-align: center;
    }

    .mobile-menu li{
        border: 0.5px solid white;
        padding: 10px;
        width: 100vw;
    }

    .hero-container {
        display: none;
    }

    .hero-showcase-grid{
        display: none;
    }

    .hero-showcase-mobile{
        display: grid;
        background-color: rgb(110, 1, 72);
    }

    .hero-showcase-mobile h1{
        padding: 10px;
        margin-top: 20px;
    }

    .hero-showcase-mobile p{
        padding: 30px;
    }

    .hero-showcase-mobile img{
        width: 100vw;
    }

    .hero-showcase-mobile a{
        text-decoration: none;
        color: rgb(255, 255, 255);
        text-align: center;
    }

    .thelatest-container-grid { 
        height: 600px;
        padding: 10px;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 30px;
    }

    footer{
        display: block;
        margin-top: 1850px;
    }    
}